*{
	box-sizing:border-box;
}
$whiteColor:#fff;
$greyColor:#676767;
$fontRegular:400;
$fontMedium:500;
$fontSemibold:600;
$fontBold:700;
$orangeColor:#ff841b;
$font16:16px;
$blueColor:#001a53;

@mixin cmn-heading22{
	font-weight: $fontSemibold;
	font-size: 22px;
	text-transform: capitalize;
}
@mixin cmn-heading16{
	font-weight: $fontRegular;
	font-size: $font16;
	text-transform: capitalize;
}
@mixin background-img{
	background-repeat: no-repeat;
	background-size: cover;
}


/*common css starts here*/
body{
	font-size: $font16;
	padding: 0px;
	margin:0px;
	overflow-x: hidden;
	color: $greyColor;
	line-height:28px;
	font-family: 'Poppins', sans-serif;
	font-weight: $fontRegular;
	background-color: $whiteColor;
}
a{
	text-decoration:none;
	cursor:pointer;
}
a:focus, a:hover, a:visited, input[type=email], input[type=text],textarea{
	text-decoration:none;
	outline:0;
}
section{
	padding:100px 0;
}
ul{
	padding-left: 0px;
	list-style-type: none;
	margin-bottom: 0px;
}
.cmn-btn{
	background-color: $orangeColor;
	color: $whiteColor;
	font-size: $font16;
	font-weight: $fontSemibold;
	border-radius: 3px;
	padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cmn-btn:hover{
	color: $whiteColor;
}
.cmn-title{
	margin-bottom: 35px;
	h4{
		@include cmn-heading22
		color: $greyColor;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	h1{
		font-weight: $fontMedium;
		font-size: 50px;
		color: $blueColor;
		text-transform: capitalize;
		margin-top: 0px;
	}
}
.owl-carousel.owl-theme{
	.owl-dots{
		.owl-dot{
			span{
				background:#b2b2b2;
				margin:0 5px;
				border-radius:30px;
				width: 40px;
				height: 3px;
			}
		}
		.owl-dot.active{
			transition:all .5s ease-in-out;
			span{
				background:$orangeColor;
			}
		}
		.owl-dot:hover span{
			background:$orangeColor;
		}
	} 
} 
/*common css ends here*/

/*menu css starts here*/
header{
    overflow: hidden;
}
.header-area {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100px;
    .main-header{
	    padding: 30px 0;
	    transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
		.main-menu{
			nav{
				ul{
					li {
					    display: inline-block;
					    margin: 6px 0px;
					    a {
						    display: block;
						    color:$whiteColor;
							font-weight:$fontMedium;
							font-size: 14px;
							letter-spacing:.6px;
						    padding: 0px 20px;
						    text-transform: uppercase;
						    position: relative;
						    -moz-transition: 0.5s all ease-in-out;
						    -webkit-transition: 0.5s all ease-in-out;
						    transition: 0.5s all ease-in-out;
						}
						a:hover{ 
						    color: $orangeColor;
						}
					}
				}
			} 
		}
	}
	.mobile-menu {
	  background: #FFFFFF;
	  padding: 10px 20px;
	  max-height: -webkit-calc(100vh - 90px);
	  max-height: calc(100vh - 90px);
	  overflow-y: auto;
	  position: relative;
	  z-index: 10;
	  -webkit-box-shadow: 0 8px 10px -10px #000000;
	  -moz-box-shadow: 0 8px 10px -10px #000000;
	  box-shadow: 0 8px 10px -10px #000000;
	  transition: all .5s ease-out;
	  transition: all .5s ease-out;
	  transform: rotateX(90deg);
	  transform-origin: top;
	  opacity: 0;
	  display: block;
	  width: 100%;
	  	ul{
		  -webkit-transition: all 0.5s ease-out;
		  transition: all 0.3s ease-out 0s;
		  	li {
			  border-bottom: 1px solid #e8e8e8;
			  	a {
				  color: #050a39;
				  line-height: 50px;
				  display: block;
				  text-transform: uppercase;
				}
			}
			li:last-child{
			    border-bottom: none;
			}
		}
	}
	.mobile-menu.menuactive{
	  opacity: 1;
	  transform: rotateX(0deg);
	  transform-origin: top;
	}
	.main-menu-handle{
	  	width: 50px;
	    height: 50px;
	    border: 1px solid #FFFFFF;
	    position: relative;
	    color: $whiteColor;
	    text-align: center;
	    line-height: 40px;
	    font-size: 30px;
	    cursor: pointer;
	    display: inline-block;
	    border-color: $whiteColor;
	    float: right;
	    top: 0px;
	  	display: none;
		i{
		  line-height: 50px;
		}
	    .fa-close, .fa-bars{
	    	display: none;
	    }
	}
	.main-menu-handle.active{
		.fa-bars{
			display: none;
		}
		.fa-close{
			display: block;
		}
	}
}
.header-area.sticky {
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 1200;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    animation: none;
    transition: none;
    -webkit-transition: none;
    padding:0px 0;
    margin: 0 auto;
    background-color: #000;
    height: 80px;
	.main-header{
	    padding: 20px 0;
	    position: relative;
	}
}
/*menu css ends here*/

/*home-banner css starts here*/
.home-banner{
	position: relative;
	.caption{
		position: absolute;
		top: 32%;
		left: 0;
		right: 0;
		text-align: center;
		color: $whiteColor;
	}
	h6{
		color: $orangeColor;
		font-size: $font16;
		letter-spacing:5px;
		font-weight: $fontSemibold; 
	}
	h1{
		font-size: 60px;
		font-weight: $fontSemibold;
		width: 85%;
		margin: 20px auto;
		line-height: 80px;
	}
	p{
		width: 55%;
    	margin: 0 auto 50px auto;
	}
}
/*home-banner css ends here*/

/*our services starts here*/
.our-services{
	background-image: url('../images/services-banner.jpg');
	@include background-img
	.what-we-do{
		background-color: #f2f2f2;
		padding: 30px 50px;
		ul{
			margin-bottom: 0px;
			li{
				padding-left: 80px;
				padding-right: 80px;
				position: relative;
				display: inline-block;
				width: 49%;
				margin-bottom: 20px;
				h5{
					@include cmn-heading22
					color: $blueColor;
					margin-top: 0px;
				}
			}
			li:before{
				content: '';
				position: absolute;
				left: 0;
				width: 55px;
				height: 49px;
			}
			li:nth-child(1)::before{
				background-image: url(../images/financial.png);
				background-repeat: no-repeat;
			}
			li:nth-child(2)::before{
				background-image: url(../images/business.png);
				background-repeat: no-repeat;
			}
			li:nth-child(3)::before{
				background-image: url(../images/online.png);
				background-repeat: no-repeat;
			}
			li:nth-child(4)::before{
				background-image: url(../images/travel.png);
				background-repeat: no-repeat;
			}
			li:nth-child(5)::before{
				background-image: url(../images/lawyer.png);
				background-repeat: no-repeat;
			}
			li:nth-child(6)::before{
				background-image: url(../images/it.png);
				background-repeat: no-repeat;
			}
		}
	}
}
/*our services end here*/


/*our work css starts here*/
.our-work{
	.our-work-carousel{
		margin-top: 45px;
		h3{
			@include cmn-heading22
			text-align: center;
			margin-top: 50px;
		}
		h6{
			@include cmn-heading16
			color: #9b9b9b;
			text-align: center;
			margin-bottom: 20px;
		}
		p{
			text-align: center;
		}
	}
}
/*our work css end here*/

/*vision-mission css starts here*/
.vision-mission-section{
	background-image: url('../images/vision-mission-background.jpg');
	@include background-img
	position: relative;
	.cmn-title{
		h4, h1{
			color: $whiteColor;
		}
	}
	p{
		color: $whiteColor;
		margin-bottom: 30px;
	}
	.vision-mission{
		display: flex;
		background-color: $whiteColor;
		text-align: center;
		position: absolute;
	    width: 60%;
	    margin: 0 auto;
	    box-shadow: 0 7px 34px -17px black;
	    figure{
	    	min-height: 45px;
	    }
		img{
			margin: 0 auto;
		}
		.vision, .mission{
			padding: 50px 80px 30px 80px;
		}
		.vision{
			background-image: url('../images/vision-background.png');
			@include background-img
			background-color: #f5f5f5;
			border-right: 1px solid #e0e0e0;
		}
		h5{
			@include cmn-heading22
			color: $blueColor;
			margin-top: 30px;
			margin-bottom: 20px;
		}
		p{
			color: $greyColor;
		}
	}
}
/*vision-mission css end here*/

/*our team css starts here*/
.our-team{
	padding-top: 300px;
	h3{
		@include cmn-heading22
		color: $blueColor;
		text-align: center;
		margin-top: 40px;
	}
	h6{
		@include cmn-heading16
		color: $greyColor;
		text-align: center;
		margin-bottom: 20px;
	}
	p{
		margin-bottom: 30px;
	}
	.item{
		p{
			text-align: center;
		}
	}
	.team-profile{
		position: relative;
		.team-social{
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
			ul{
				margin-bottom: 0px;
				text-align: center;
				background-color: rgba(13,33,78,0.8);
				padding: 15px 0;
				li{
					display: inline-block;
					margin: 0 15px;
					a{
						color: $orangeColor;
						i{
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
/*our team css end here*/

/*quote css starts here*/
.quote-section{
	background-image: url('../images/quote-background.jpg');
	@include background-img
	h1{
		font-size: 50px;
		font-weight: $fontMedium;
		color: $whiteColor;
		text-transform: capitalize;
	}
	p{
		color: $whiteColor;
		margin-bottom: 0px;
	}
	a{
		margin-top: 50px;
		display: inline-block;
	}
}
/*quote css end here*/

/*testimonial css starts here*/
.testimonial-section{
	.testimonial-profile{
		position: relative;
		img{
			border: 18px solid #eaeaea;
	    	border-radius: 50%;
		}
	}
	.testimonial-profile:before{
		position: absolute;
		content: '';
		background-image: url('../images/testimonial-quote.png');
		background-repeat: no-repeat;
		right: 12px;
	    top: 50px;
	    width: 58px;
	    height: 58px;
	}
	h3{
		@include cmn-heading22
		color: $blueColor;
	}
	h4{
		@include cmn-heading16
		color: $greyColor;
	}
	.testimonial-carousel.owl-theme .owl-nav.disabled + .owl-dots{
		position: absolute;
	    left: 34%;
	    bottom: 70px;
	}
}
/*testimonial css end here*/

/*counter css starts here*/
.counter-section{
	background-image: url('../images/counter-background.jpg');
	@include background-img	
	img{
		margin: 0 auto;
	}
	h1{
		font-size: 50px;
		font-weight: $fontSemibold;
		color: $orangeColor;
		text-align: center;
	}
	p{
		color: $whiteColor;
		text-align: center;
		margin-bottom: 0px;
		text-transform: capitalize;
	}
}
/*counter css end here*/

/*get in touch css starts here*/
.get-in-touch{
	background-color: #fafafa;
	h6{
		color: $blueColor;
		font-weight: $fontSemibold;
		text-transform: capitalize;
		font-size: $font16;
		margin-top: 0px;
	}
	p{
		a{
			color: $greyColor;
		}
	}
	.details{
		margin-bottom: 40px;
	}
	form{
		input, textarea{
			width: 100%;
			border: 1px solid #eaeaea;
			border-radius: 5px;
			margin-bottom: 30px;
			padding: 13px;
		}
		input::placeholder, textarea::placeholder{
			@include cmn-heading16
			color: #c3c3c3;
		}
		textarea{
			height: 150px;
		}
	}
	ul{
		margin-bottom: 0px;
		li{
			display: inline-block;
			margin-right: 30px;
			a{
				color: $orangeColor;
				i{
					font-size: 28px;
				}
			}
		}
	}
	.cmn-btn{
		border: none;
	}
	.cmn-btn:focus{
		outline: none;
	}
}
/*get in touch css end here*/

/*footer css starts here*/
.footer{
	background-image: url('../images/footer-banner.jpg');
	@include background-img
	padding: 100px 0px;
	img{
		margin: 0 auto;
	}
	ul{
		text-align: center;
		margin-bottom: 0px;
		li{
			display: inline-block;
			padding: 30px 20px;
			a{
				text-transform: capitalize;
				color: #c6c6c6;
			}
		}
	}
	p{
		color: #c6c6c6;
		text-align: center;
		margin-bottom: 0px;
		a{
			color: $orangeColor;
			font-weight: $fontMedium;
		}
	}
}
/*footer css end here*/

/*loader css starts here*/
#st-preloader {
    background: $whiteColor;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999999;
    #pre-status, .preload-placeholder{
    	background-image: url(../images/loader.gif);
	    background-repeat: no-repeat;
	    background-position: center;
	    left: 0;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
    }
    .preload-placeholder{
    	background: 0 0;
	    left: 0;
	    margin: 0;
	    text-align: center;
	    top: 65%;
    }
    .overlay, .st-border {
	    background-color: #000;
	}
	.st-border {
	    width: 34px;
	    height: 1px;
	    display: block;
	}
	.overlay {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    opacity: .8;
	}
}
/*loader css ends here*/

/*scroll-up css starts here*/
.scroll-up {
  z-index: 9999;
  position: fixed;
  right: 30px;
  bottom: -10px;
  opacity: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  color: $whiteColor;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 400ms linear 0ms;
  -ms-transition: all 400ms linear 0ms;
  -o-transition: all 400ms linear 0ms;
  transition: all 400ms linear 0ms;
  background-color: #000;
  font-size: 20px;
  a{
  	color: $whiteColor;
  }
}
.scroll-up.show {
  opacity: 1;
  bottom: 30px;
}
/*scroll-up css ends here*/ 


/*Responsive css starts here*/
@media (max-width:1600px){
	.vision-mission-section{
		.vision-mission{
			width: 71%;
		}
	} 
}
@media (max-width:1366px){
	.vision-mission-section{
		.vision-mission{
			width: 83%;
		}
	}
	.home-banner{
		img{
			height: 800px;
		}
	}
}
@media (max-width:1280px){
	.vision-mission-section{
		.vision-mission{
			width: 89%;
		}
	} 
}
@media (max-width:1024px){
	.header-area{
		.main-header{
			.main-menu{
				nav{
					ul{
						li{
							a{
								padding: 0px 10px;
							}
						}
					}
				}
			}
		}
	}
	.home-banner{
		.caption{
			top: 35%;
		}
		h1{
			width: 100%;
		}
		p{
			width: 80%;
		}
	}
	.vision-mission-section{
		.vision-mission{
			width: 92%;
		}
	}
	.testimonial-section{
		.testimonial-carousel.owl-theme .owl-nav.disabled + .owl-dots{
			bottom: 25px;
		}
	}
	.footer{
		ul{
			li{
				padding: 30px 10px;
			}
		}
	} 
}
@media (max-width:768px){	
    .header-area{
        background-color: #000;
        img{
        	margin-top: 5px;
        }
        .main-menu-handle{
        	display: block;
        	.fa-bars{
        		display: block;
        	}
        }
	    .main-menu{
	        display: none;
	    }
	    .main-header {
	        padding: 15px 0;
	    }
    }
    .header-area, .header-area.sticky{
        height: 80px;
    }
    .header-area.sticky{
    	.main-header {
	        padding: 15px 0;
	    }
    }
    .home-banner{
    	.caption {
		    top: 25%;
		}
		h1{
			font-size: 40px;
			line-height: 70px;
		}
    }
    .our-services{
    	.what-we-do{
    		ul{
    			li{
    				width: 100%;
    			}
    		}
    	}
    }
    .vision-mission-section{
    	.vision-mission{
    		width: 94%;
    	}
    }
    .testimonial-section{
    	.testimonial-carousel.owl-theme .owl-nav.disabled + .owl-dots {
		    bottom: -25px;
		}
    }
    .testimonial-section{
    	.testimonial-profile:before{
    		right: 5px;
    		top: 15px;
    	}
    }
    .counter-section{
    	p{
    		margin-bottom: 30px;
    	}
    }
    .footer{
    	ul{
    		margin-bottom: 30px;
    		margin-top: 30px;
    		li{
    			padding: 5px 10px;
    		}
    	}
    }
}
@media (min-width:320px) and (max-width:740px){
	section, .footer{
		padding:40px 0;
	}
	body{
		font-size: 14px;
	}
	.cmn-btn{
		font-size: 14px;
	}
	.cmn-title{
		h4{
			font-size: 16px;
		}
		h1{
			font-size: 35px;
		}
	}
	.home-banner{
		img {
		    height: 550px;
		}
		h6{
			font-size: 14px;
		}
		h1{
			font-size: 30px;
    		line-height: 42px;
		}
		p{
			width: 100%;
		}
	}
	.our-services{
		.what-we-do{
			padding: 30px 30px;
    		margin: 0 20px;
    		ul{
    			li{
    				padding-right: 0px;
    				h5{
    					font-size: 16px;
    				}
    			}
    		}
		}
	}
	.our-work{
		.our-work-carousel{
			h3{
				font-size: 16px;
			}
			h6{
				font-size: 14px;
			}
		}
	}
	.vision-mission-section{
		p{
			margin-bottom: 20px;
		}
		.vision-mission{
			width: 100%;
			position: static;
			display: block;
			.vision{
				background-position: right;
			}
			.vision, .mission{
				padding: 20px 20px 10px 20px;
			}
			h5{
				font-size: 18px;
			}
		}
	}
	.our-team{
		padding-top: 40px;
		h3{
			font-size: 18px;
		}
		h6{
			font-size: 14px;
		}
		p{
			margin-bottom: 10px;
		}
		.team-profile{
			.team-social{
				ul{
					padding: 10px 0px;
					li{
						a{
							i{
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
	.quote-section{
		h1{
			font-size: 35px;
		}
		a{
			margin-top: 30px;
		}
	}
	.testimonial-section{
		.testimonial-profile{
			margin-bottom: 20px;
		}
		h3{
			font-size: 18px;
		}
		h4{
			font-size: 14px;
		}
		.testimonial-carousel.owl-theme .owl-nav.disabled + .owl-dots{
			position: static;
		}
		.testimonial-profile:before{
			right: 24px;
    		top: 35px;
		}
	}
	.counter-section{
		h1{
			font-size: 35px;
		}
	}
	.get-in-touch{
		form{
			input::placeholder, textarea::placeholder{
				font-size:14px;
			}
		}
		.contact-details{
			margin-top: 40px;
		}
		.details{
			margin-bottom: 20px;
		}
		ul{
			li{
				a{
					i{
						font-size: 22px;
					}
				}
			}
		}
	}
	.header-area{
		.main-menu-handle{
			width: 35px;
    		height: 35px;
    		line-height: 35px;
    		font-size: 20px;
			i{
				line-height: 35px;
			}
		}
	}
	.header-area, .header-area.sticky {
	    height: 65px;
	}
	.footer{
		ul {
		    margin-bottom: 20px;
		    margin-top: 20px;
		}
	}
}
/*Responsive css end here*/